@font-face {
	font-family: Kreon;
	src: url('fonts/Kreon-Regular.ttf');
}

@font-face {
	font-family: Kreon;
	src: url('fonts/Kreon-Bold.ttf'),
	font-weight: bold;
}


body {
	background-image: url(images/bg.png);
	font-size:1em;
	color: rgb(255,255,255);
}

.wrapper {
	width: 965px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 3em;
}

header h1 {
	font-family: Kreon;
	font-weight: bold;
	font-size: 3.6em;
	color: rgb(255,255,255);
	display: inline-block;
	text-transform: uppercase;
	margin: 0 0 0 0;
	padding-top: 0;
}

header h2 {
	font-family: Kreon;
	font-weight: bold;
	font-size: 1.15em;
	float:right;
	margin-top: 0;
	padding: 2em 0 0 0;
	display: inline-block;
	text-transform: uppercase;
	color: rgb(171,221,168);
}

.contentframe {
	background-image: url(images/inner_bg.png);
	min-height: 575px;
	width:100%;
}

.indent {
	margin: 0 2em;
}

.mainnav {
	font-family: Kreon;
	font-weight: bold;
	font-size:1.2em;
	list-style:none;
	margin: 0 0 1em -0.3em;
	padding: 0.4em 0 0.2em 0;
	border-bottom: rgba(0,0,0,0.4) 2px solid;
	text-align:center;
}

.mainnav li {
	display: inline-block;
	margin: 0 0.2em 0 0;
	padding: 0.1em 0.1em;
}

.mainnav li a {
	display: inline-block;
	text-decoration: none;
	color: rgb(255,255,255);
	text-shadow: rgba(0,0,0,1) 0 0 0.2em;
	padding: 0.1em 0.6em;
	border-radius: 0.2em;
}

.mainnav li a:hover {
	background-color: rgba(238,255,11,0.7);
	color: rgb(0,0,0);
	text-shadow: rgba(255,255,255,1) 0 0 0.2em;
}

.welcome {
	padding-top:1em;
}

.welcome p {
	font-family: Kreon;
	font-size:1.2em;
	text-shadow: rgba(0,0,0,1) 1px 1px 0.1em;
	width:17em;
	margin:0 0 0.5em 0;
}
	
#nhome  {
	background-image: url(images/nhome.png);
	height: 351px;
	width: 403px;
	position:absolute;
	margin: 3em 0 0 15em;
}

#argumentbox1{
	position:absolute;
	margin-left: 403px;
	margin-top:-18px;
	width:16em;
}

#argumentbox2{
	position:absolute;
	margin-left: 403px;
	margin-top:134px;
	width:16em;
}

#argumentbox3{
	position:absolute;
	margin-left: 403px;
	margin-top:303px;
	width:16em;
}

.argumentbox h3 {
	font-family: Kreon;
	font-weight: bold;
	color: rgb(0,39,56);
	text-transform: uppercase;
	text-align:center;
	vertical-align:center;
	margin:-10px 0 0 0;
	height:26px;
	padding: 5px 0;
	background-color: rgba(252,238,33,0.6);
	border-bottom: rgb(255,255,255) 3px solid;
}

.argumentbox p {
	font-family: Kreon;
	padding: 0.4em 1em 0.8em 1em;
	background-color: rgba(237,229,166,0.9);
	margin:0;
	color: rgb(0,0,0);
}


.machmit h2 {
	text-transform: uppercase;
	font-family: Kreon;
	font-weight: bold;
	text-shadow: rgba(0,0,0,1) 0 0 0.2em;
	font-size: 1.8em;
	padding:0;
	margin:2em 0 0 0;
}

.machmit p {
	font-family: Kreon;
	font-size:1.2em;
	text-shadow: rgba(0,0,0,1) 1px 1px 0.1em;
	width:16em;
	margin:0 0 0.5em 0;
}

.machmit input[type=text] {
	padding:0.1em;
	width:10em;	
	font-family: Kreon;
	font-size:1em;

}

.machmit input[type=submit] {
	padding:0.1em 0.7em;
	min-width:4em;
	color: rgb(255,255,255);
	border: rgba(255,255,255,0.1) 2px solid;
	font-family: Kreon;
	font-weight:bold;
	font-size:1em;

background: rgb(98,125,77);
background: -moz-linear-gradient(top,  rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1)));
background: -webkit-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
background: -o-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
background: -ms-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
background: linear-gradient(to bottom,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 );
}


footer {	
	color: rgb(106,129,130);
	text-align:center;
	font-family: Arial, sans-serif;
	font-size:0.7em;
	margin-top:0.4em;
}

footer a {
	color: rgb(106,129,130);
	text-decoration: none;
}